h1{
    color: #141414;
    background-color: rgb(192, 192, 192);
}

img{
    border: 2px solid rgb(155, 155, 155);
    border-radius: 5px;
}

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.grid{
    display: flex;
    justify-content: space-evenly;
}

.item{
    color: #141414;
    display: flex;
    flex-wrap: wrap;
    width: 10%;
    position: relative;
}

body{
    background-color: #F0F8FF;
}

.name p{
    position: absolute;
    top: 12%;
    left: 70%;
    transform: translate(-50%,-50%);
    opacity: 0;
}

.name:hover p{
    opacity: 1;
}

.item:hover img{
    opacity: 0.5;
}